{{>_mainNav}}
<div class="container-fluid wrapper">
  <div class="col-11 col-md-8 col-lg-9 mx-auto" style="margin-top: 10%;">
    <div class="card shadowed">
      <div class="card-body">
        <div class="row">
          <div class="col-md-5 text-center">
            <h5 class="display-2 text-danger">
              Page <br /> Not <br /> Found <br />
            </h5>
          </div>
          <div class="col-md-7">
            <div class="d-flex align-items-center" style="height: 100%;">
              <div class="text-center">
                <p><i class="fas fa-exclamation-triangle fa-3x text-warning"></i></p>
                We are sorry, the page you are looking was not found on our server.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{>_mainFooter}}