{{>_mainNav}}
<header class="header">
  <div class="hero-text">
    <i class="fas fa-fingerprint fa-3x mb-1"></i>
    <h3 class="text-uppercase text-warning font-weight-bold">electronic voting system</h3>
    <h5>secured, seamless and realtime results.</h5>
  </div>
</header>
<div class="container-fluid evote-statement">

  <div class="row py-3">
    <div class="col-8 col-sm-6 mx-auto text-center">
      <h5 class="text-uppercase font-weight-bold">Electronic Voting System</h5>
      <p>A secured voting system that provides realtime result.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-11 col-sm-6 col-lg-4 mx-auto text-center">
      <div class="text-uppercase">
        <i class="fas fa-shield-alt fa-2x mb-1 text-warning"></i>
        <h5>Secured Voting</h5>
      </div>
      <p>
        Voting process is carried out on secured connection.
      </p>
    </div>
    <div class="col-11 col-sm-6 col-lg-4 mx-auto text-center">
      <div class="text-uppercase">
        <i class="fas fa-clock fa-2x mb-1 text-warning"></i>
        <h5>RealTime Vote Result</h5>
      </div>
      <p>The system provides a realtime vote result which is updated on each vote casted.</p>
    </div>
    <div class="col-11 col-sm-6 col-lg-4 mx-auto text-center">
      <div class="text-uppercase">
        <i class="fas fa-map-marker fa-2x mb-1 text-warning"></i>
        <h5>Vote From Anywhere</h5>
      </div>
      <p>This is a web platform which enables eligble users to cast vote from anywhere.</p>
    </div>
  </div>

</div>

<div class="contact-us container-fluid bg-dark text-light" id="contact-us">
  <div class="row py-3">
    <div class="col-8 col-sm-6 mx-auto text-center">
      <i class="fas fa-comments fa-2x text-warning"></i>
      <h5 class="text-uppercase font-weight-bold">Contact Us</h5>
      <p>We do love to hear from you.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12" style="position: relative;">
      <div class="row">
        <div class="col-11 col-sm-6 mx-auto" style="position: relative;" id="contact-us">
          <div class="col-5 mx-auto alert hidden" id="contact-msg"></div>
          <form action="" method="post" id="contact-us-form" class="form-ui" style="position: relative;">
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="form-group py-4">
                  <input type="text" name="firstName" id="firstName" class="form-control my-2 p-2"
                    placeholder="First Name" />
                  <label for="firstName" class="mb-0">
                    First Name
                    <span class="text-danger">*</span>
                  </label>
                </div>
              </div>

              <div class="col-12 col-sm-6">
                <div class="form-group py-4">
                  <input type="text" name="lastName" id="lastName" class="form-control my-2 p-2"
                    placeholder="Last Name" />
                  <label for="lastName">
                    Last Name
                    <span class="text-danger">*</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group py-4">
              <input type="email" name="emailAddress" id="emailAddress" class="form-control my-2 p-2"
                placeholder="Email Address" />
              <label for="emailAddress">
                Email Address
                <span class="text-danger">*</span>
              </label>
            </div>

            <div class="form-group py-4">
              <textarea name="message" id="message" rows="1" class="form-control my-1 p-2"
                placeholder="Message"></textarea>
              <label for="message">
                Message
                <span class="text-danger">*</span>
              </label>
            </div>

            <div class="form-group text-center mt-4">
              <button class="btn btn-success">
                send message
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </form>
        </div>
        <!-- End of Contact Us form -->

        <div class="col-12 col-sm-6 mx-auto">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15890.208251615895!2d6.9505913!3d5.3323288!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x447d12b93de81ca0!2sImo%20State%20Polytechnic!5e0!3m2!1sen!2sng!4v1586790114300!5m2!1sen!2sng"
            style="border:0;width: 100%!important; height: 300px;" frameborder="0" allowfullscreen=""
            aria-hidden="false" tabindex="0"></iframe>

          <p class="">
            <i class="fas fa-globe green mr-2"></i>
            web address:
            <a href="imopoly.edu.ng">imopoly.edu.ng</a>
          </p>
          <p class="d-flex align-items-center">
            <i class="fas fa-phone-alt green mr-2"></i>
            call:
            <a href="tel:08000000001"> 08000000001</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{{>_mainFooter}}